.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #000000;
    color: #fff;
}


.forms input{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.forms button{
    width: 60px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
}


.forms button:hover{
    background-color: #f1f1f1;
    color: #000;
}


.forms button:active{
    background-color: #f1f1f1;
    color: #000;
}